{% extends 'layouts/base.html' %}

{% block title %} Tables {% endblock title %}

{% block content %}

    <!-- Header -->
    <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
      <div class="container-fluid">
        <div class="header-body">
          <!-- Card stats -->
          <div class="row">
            <div class="col-xl-3 col-lg-6">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Total Tweets Collected</h5>
                      <span class="h2 font-weight-bold mb-0">{{total.total_tweets}}</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                        <i class="fas fa-chart-bar"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-6">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Total Spam Found</h5>
                      <span class="h2 font-weight-bold mb-0">{{total.total_spam_tweets}}</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                        <i class="fas fa-chart-pie"></i>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-6">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Total Spam Groups</h5>
                      <span class="h2 font-weight-bold mb-0">{{total.total_groups}}</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-yellow text-white rounded-circle shadow">
                        <i class="fas fa-users"></i>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-6">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Percentage</h5>
                      <span class="h2 font-weight-bold mb-0">{{total.toatl_spam_per}}</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-info text-white rounded-circle shadow">
                        <i class="fas fa-percent"></i>
                      </div>
                    </div>
                  </div>
                  <p class="mt-3 mb-0 text-muted text-sm">
                    <span class="text-success mr-2"><i class="fas fa-arrow-up"></i> 12%</span>
                    <span class="text-nowrap">Since last checked</span>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid mt--7">

      <!-- Table -->
      <div class="row">
        <div class="col">
          <div class="card shadow">
            <div class="card-header border-0">
              <h3 class="mb-0">Spam Hashtags</h3>
            </div>
            <div class="table-responsive">
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Hashtags</th>
                    <th scope="col">Tweets</th>
                    <th scope="col">Action</th>
                    <th scope="col">Spam Ratio</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                {% for obj in hashtag_list %}
                    <tr>
                      <th scope="row">
                        <div class="media align-items-center">
                          <div class="media-body">
                            <span class="mb-0 text-sm">{{obj.hashtag}}</span>
                          </div>
                        </div>
                      </th>
                      <td>
                        {{obj.tweets_colected}}
                      </td>
                      <td>
                        <span class="badge badge-dot mr-4">
                          <i class="bg-warning"></i> Report
                        </span>
                      </td>
                      <td>
                        <div class="d-flex align-items-center">
                          <span class="mr-2">{{obj.per_of_spammer}}</span>
                          <div>
                          </div>
                        </div>
                      </td>

                    </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
 
      <!-- Dark table -->
      <div class="row mt-5">
        <div class="col">
          <div class="card bg-default shadow">
            <div class="card-header bg-transparent border-0">
              <h3 class="text-white mb-0">Spammer Group</h3>
            </div>
            <div class="table-responsive">
              <table class="table align-items-center table-dark table-flush">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">Group Name</th>
                    <th scope="col">Strength</th>
                    <th scope="col">Click Here For Details</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                {% for obj in hashtag_list %}
                  <tr>
                    <th scope="row">
                      <div class="media align-items-center">

                        <div class="media-body">
                          <span class="mb-0 text-sm">{{obj.hashtag}}</span>
                        </div>
                      </div>
                    </th>
                    <td>
                      {{obj.spammer_found}}
                    </td>
                    <td>
                      <span class="badge badge-dot mr-4">
                        <a href="{% url 'detail' obj.pk %}">Details
                        </a>                        
                      </span>
                    </td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>


      {% include "includes/footer.html" %}

    </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
